.vermelho 
{
	background-color: red;
	width: 720px;
	height: 115px;
	margin: 0px auto;
}

.azul 
{
	background-color: blue;
	width: 330px;
	height: 110px;
	float: left;
}

.direita 
{
	float: right;
}

.preto 
{
	background-color: black;
	width: 840px;
	height: 45px;
	margin: auto;
	clear: both;
}

.amarelo
{
	background-color: yellow;
	width: 720px;
	margin: auto;
}

.verde 
{
	background-color: green;
	width: 180px;
	height: 140px;
	float: right;
	margin: 20px 20px 20px 0px;
}

.branco 
{
	background-color: white;
	width: 480px;
	height: 260px;
	float: left;
	margin: 20px;
}

.aux 
{
	clear: both;
}