.bloco1, .bloco2, .bloco3, .bloco4
{
	position: absolute;
	width: 300px;
	height: 300px;
	font: bold 2em/8 sans-serif;
	text-align: center;
	color: white;
} 

.bloco1
{
	background: red;
	left: 0;
	top: 0;
	/* z-index  deve ser usado quando determinar uma posição*/ 
}

.bloco2
{
	background: blue;
	left: 30px;
	top: 150px;
}

.bloco3
{
	background: green;
	left: 60px;
	top: 300px;
}

.bloco4
{
	background: yellow;
	left: 90px;
	top: 450px;
}




