/*RESET
============================================*/

/*ELIMINA O ESPAÇO */
*, *:before, *:after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}


body
{
	font-family: 'Open Sans', sans-serif; font-size: inherit;
}

input, select, iframe, button{border: none; font-family: 'Open Sans', sans-serif;}

h1, h2, h3
{
 margin: 0;
 padding: 0;
}

ol, ul
{
	list-style: none; /* ELIMINA MARCADOR DA LISTA */
}

a
{
	text-decoration: none;
	color: inherit;
	transition: all .4s ease-in-out;
}

a:hover
{
	color: lime;
}

img 
{
	max-width: 100%;
	border: none;
}

.header
{
	position: fixed;
	width: 100%;
	padding-top: 30px;
	z-index: 6;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}

.box
{
	display: block;
	position: relative;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	/*width: 400px;*/
	overflow: hidden;
}

.box-name
{
	position: absolute;
	z-index: 2;
	left: 10px;
	top: 10px;
	font-size: 14px;
	color: white;
	background: green;
	border-radius: 5px;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
}

.box-cover
{
	font-size: 0;
	line-height: 1em;
}

.box-cover img 
{
	width: 100%;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.box-detalhes
{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 15px;
	color: white;
	font-size: 15px;
}

.box-detalhes:before 
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -20px;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .8;
	visibility: hidden;
	background: linear-gradient(to bottom, transparent, #000);
	transition: all 400ms ease-in-out;
	transform: translate(0, 50%);
	-webkit-transition: all 400ms ease-in-out;
	-webkit-transform: translate(0, 50%);
}

.box-detalhes-info
{
	position: relative;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: all 400ms ease-in-out;
	transform: translate(0, 50%);
	-webkit-transition: all 400ms ease-in-out;
	-webkit-transform: translate(0, 50%);
}

.box-detalhes-info h1
{
	font-size: 20px;
}

.box:hover .box-cover img
{
	transform: scale(1);
	-webkit-transform: scale(1);
	/*transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out; */
}

.box

.box:hover .box-detalhes:before,
.box:hover .box-detalhes-info 
{
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}



.header .logo img
{
	max-width: 150px;
}

.header.fixed
{
	background: green;
	padding: 10px 0px 5px 0px;
}

/*SECYION */
.section
{
	float: left;
	width: 100%;
}

.section:not(:first-of-type)
{
	margin-top: 60px;
}

.section-header
{
	margin-bottom: 40px;
	text-align: center;
	font-size: 20px;
}

.section-header h1 
{
	font-size: 37px;
	font-weight: normal;
}

.content
{
	max-width: 960;
	width: 90%;
	margin: 0 auto;
}

.row
{
	float: left;
	width: 100%;
}

.loadmore
{
	background: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	font-size: 17px;
	cursor: pointer;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

.loadmore:hover
{
	color: green;
	border: 1px solid yellow;
}

/*SEARCH E ESTATISTICAS */
.search-box
{
	color:white; /* cor da fonte */
	padding: 100px 0;
	text-align: center;
	background-image: url(../images/bg-search.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.search-box h1
{
	font-size: 37px;
	font-weight: bold;
}

.search-box .tagline 
{
	font-size: 26px;
}

.search-box form
{
	position: relative;
	display: inline-block;
	width: 90%;
	max-width: 500px;
	margin-top: 40px;
}

.search-box form input[type="search"]
{
	width: 100%;
	height: 50px;
	font-size: inherit;
	color: #2c3e50;
	padding: 0 70px 0 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}

.search-box form button
{
    background: yellow;
	position: absolute;
	width: 50px;
	height: 50px;
	color: white;
	font-size: 20px;
	top: 0;
	right: 0;
	cursor: pointer;	
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.estatisticas
{
	background: white;
	max-width: 960px;
	width: 90%;
	padding: 30px 0;
	margin: -40px auto 0 auto;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .3);	
}

.estatisticas-item span
{
	font-size: 33px;
	font-weight: bold;
}

.estatisticas-item p 
{
	font-size: 20px;
}

.destinos-col 
{
	margin-bottom: 20px;
}

.paralax
{
	float: left;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 23px;
	margin-top: 60px;
	padding: 160px 0;
	background-image: url(../images/bg-paralax.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;	
}

.paralax h1 
{
	font-size: 38px;
	margin-bottom: 10px;
}

.paralax button
{
	font-size: 20px;
	background: green;
	padding: 10px 15px;
	margin-top: 20px;
	cursor: pointer;
	font-weight: bold;
	-webkit-border-radius: 5px;
	color: white;
	border-radius: 5px;
	transition: all .4s ease-in-out;
}

.paralax button:hover 
{
	background: black;
}

.destaques-col
{
	margin-bottom: 20px;
}

.testemunhas
{
	padding: 100px 0;
	background-image: url(../images/bg-testemunhas.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;	
}

.testemunhas-article
{
	float: left;
	background: rgba(255, 255, 255, .7);
	width: 100%;
	font-size: 12px;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

.testemunhas-article h1
{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 20px;
	margin-right: 10px;
	border-left: 8px solid #ccc;
	padding-left: 12px;
}

.testemunhas-article .image
{
	overflow: hidden;
	float: left;
	margin-right: 10px;
	width: 83px;
	height: 83px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.testemunhas-article p
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 83px;
}

.testemunhas-article .name 
{
	color: green;
	font-weight: bold;
}

.testemunhas-article .ceo 
{
	color: blue;
	font-weight: bold;
}

.footer
{
    background: yellow;
	float: left;
	width: 100%;
	color: white;
	padding: 30px 0;
}

.footer-col 
{
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

.footer-col h1 
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.footer-col-links li
{
	padding: 10px 0;
}

.footer-col-links li:not(:last-of-type)
{
	border-bottom: 1px solid white;
}

.footer-col-social li
{
	padding: 10px 0;
}

.footer-col-social li .fab
{
	background: yellow;
	font-size: 20px;
	margin-right: 5px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.footer-autorais
{
	padding-top: 20px;
	border-top: 1px solid white;
	color: white;
}


@media (max-width: 768px)
{
	.nav-toggle
	{
		color: white;
		font-size: 22px;
	}
	
	.nav-close 
	{
		font-size: 22px;
	}
	
	.header .nav.active 
	{
		right: 0;
	}
	
	.header .nav 
	{
		background: white;
		width: 250px;
		height: 100%;
		position: fixed;
		padding: 15px;
		right: -100%;
		top: 0;
		z-index: 10;
		transition: right .7s ease-in-out;
	}
	
	.header .nav ul li
	{
		padding: 15px 5px;
		font-size: 20px;
		border-bottom: 1px solid #ccc;
	}
	
	.estatisticas
	{
		flex-direction: column;
	}
	
	.estatisticas-item 
	{
		min-width: 90%;
	}
	
	.estatisticas-item:not(:last-of-type)
	{
		min-width: 90%;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #ccc;
	}
}

@media (min-width: 768px)
{
	.nav-toggle, .nav-close
	{
		display: none;
	}
	
	.header .nav
	{
		float: right;
		margin: 13px;
	}
	
	.header .nav ul li 
	{
		display: inline-block;
		margin-left: 20px;
	}
	
	.header .nav ul li a 
	{
		color: white;
	}
	
	.header .nav ul li a:hover
	{
		color: yellow;
	}
	
	.search-box
	{
		padding: 200px 0;
	}
	
	.estatisticas
	{
		margin-top: -65px;
	}
	.estatisticas-item
	{
		text-align: center;
		display: flex;
		flex: 1;
		flex-direction: column;	
	}
	
	.estatisticas-item:not(:last-of-type)
	{
		border-right: 1px solid #ccc;
	}
	
	.destinos-col
	{
		width: 49%;
		margin-right: 2%;
		margin-bottom: 2%;
		float: left;
	}
	
	.destinos-col:nht-child(odd)
	{
		margin-right: 0;
	}
	
	.destinos-col:first-child
	{
		width: 100%;
	}
	
	.destaques-col
	{
		width: 49%;
		margin-right: 2%;
		margin-bottom: 2%;
		float: left;
	}
	
	.destaques-col:nth-of-type(2n+0)
	{
		margin-right: 0px;
	}
	
	.testemunhas-article
	{
		width: calc((100% - 8%)/3);
		margin-right: 4%;
		margin-bottom: 4%;
	}
	
	.testemunhas-article:last-of-type
	{
		margin-right: 0;
	}
	
	.footer-col
	{
		width: 45%;
	}
	
	.footer-col:nth-child(2)
	{
		width: 30%;
		margin-left: 5%;
	}
	
	.footer-col:nth-child(3)
	{
		width: 15%;
		float: right;
	}
}

@media (min-width: 960px)
{

}

@media (min-width: 900px)
{
	.destinos-col:nht-child(odd),
	.destinos-col
	{
		width: 32%;
		margin-right: 2%;
	}
	
	.destinos-col:nth-of-type(3n+2)
	{
		margin-right: 0%;
	}
	
	.destinos-col:first-child
	{
		width: 66%;
	}
}

/* auxiliares */
.text-center
{
	text-align: center;
}

.text-left
{
	text-align: left;
}

.text-right 
{
	text-align: right;
}

.fl-left
{
	float: left;
}

.fl-right
{
	float: right;
}


