.conteudo
{
	background: green;
	width: 850px;
	height: 1130px;
	margin: auto;
}

.topo
{
	width: 850px;
	height: 200px;
	background: blue;
}

.menu
{
	width: 850px;
	height: 50px;
	background: black;
}

.foto
{
	width: 630px;
	height: 180px;
	background: yellow;
	float: left; /* alinhamento */
	margin-top: 20px;
	margin-left: 10px;
}

.relacionado
{
	width: 180px;
	height: 260px;
	background: yellow;
	float: right; /* alinhamento */
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

.descricao
{
	width: 630px;
	height: 70px;
	background: yellow;
	float: left; /* alinhamento */
	margin-top: 10px;
	margin-left: 10px;
}

.box
{
	background: red;
	width: 850px;
	height: 250px;
	float: left;
	margin-top: 30px;
}

.box2
{
	background: red;
	width: 850px;
	height: 250px;
	float: left;
	margin-top: 10px;
}

.n1
{
	background: black;
	width: 305px;
	height: 170px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.n2
{
	background: black;
	width: 305px;
	height: 170px;
	float: left;
	margin-right: 10px;
}

.d1 
{
	background: black;
	width: 305px;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.d2
{
	background: black;
	width: 305px;
	height: 70px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.redes
{
	background: black;
	width: 180px;
	height: 250px;
	float: right;
	margin-right: 10px;
}

.rodape
{
	width: 850px;
	height: 50px;
	text-align: center;
	background: black;
	float: left;
	margin-top: 10px;
}