.menu ul 
{
	margin:0;
	padding:0;
	line-height: 30px;
}

.menu li 
{
	list-style-type:none;
	float: left; 
	position: relative;
	background-color: yellow;
}

.menu ul li a 
{
  color: white;
  text-decoration: none;
  width: 150px;
  height: 30px;
  display: block; /* lado a lado */
  text-align: center;
  border: 1px solid green;
  font-family: arial;
}

.menu ul ul
{
	position: absolute;
	top:32px;
	visibility:hidden;
}

.menu ul li:hover ul
{
	visibility: visible;
}

.menu li a:hover 
{
	background-color: green;
}

.menu ul li ul a:hover
{
	background-color: green;
}