.container
{
	background-color: #ccc;
	height: 500px;
	/* width: 500px; */ 
	display: flex;
	flex-direction: row; /*column * row-reverse column-reverse* (direção)*/    
	flex-wrap: wrap /*nowrap não permite quebra de linha, wrap permite a quebra de linha, wrap-reverse */;
	justify-content: flex-start /* flex-end, flex-center, space-between (espaço) space-arround (alinhamento horizontal) */;
	align-items: stretch /*flex-start, flex-end, center, baseline (ver melhor) (alinhamento vertical) */;
	align-content: stretch /* alinhamento na base, flex-end, space-between, space around (alinhamento vertical quando os item estiverem em
	multiline, uma quebra)*/;

}

.item
{
	color: #fff;
	padding: 20px; 
	margin: 5px;
	width: 200px;
	/*height: 50px; */
}

.article-01
{
	background-color: green;
	color: yellow;
	/* order: 2; */
	/* flex-grow: 2; */
}

.article-02
{
	background-color: yellow;
	color: green;
}

.article-03
{
	background-color: red;
	color: blue;
}

.article-04
{
	background-color: blue;
	color: red;
}


