.menu
{
	width: 20%;
	position: absolute;
	/* absolute - posição da div referente a pagina */
	/* relative - posição de um div em relação a outra */
}

.texto
{
	margin-left: 140px;
	position: absolute;
	right: 40px;
	height: 200px;
	overflow: auto; /* barra de rolagem automatica */
	width: 80%;
	/* min-width: 60%: */
}